.root {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  &:hover {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);

  }
  
}
