* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gallery-root {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  // justify-content: flex-start;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}
